%h1= "Zmiana hasła"
= form(:action => resource(:users, :perform_reset_password), :method => :post) do
  = text_field(:name => "password", :label => "Nowe hasło")
  = text_field(:name => "password_confirmation", :label => "Potwierdź nowe hasło")

