= form(:action => resource(question.poll, question, :possible_answers), :method => :post, :id => 'possible-answers-form') do
  %fieldset
    .ctrl
      = text_field(:text, :label => "Nowa odpowiedź", :name => "answer")
    .ctrl.buttons
      = submit("Dodaj odpowiedź")
