= form(:action => action, :method => :get) do
  %fieldset
    .ctrl
      = select(:name => "teacher_id", :label => "Pokaż odpowiedzi dla", :collection => @teachers, :prompt => "Wszyscy")
    .ctrl.buttons
      = submit("Pokaż")
    