= form(:action => action, :method => :get) do
  %fieldset
    .ctrl= select(:name => "teacher_id", :label => "Pokaż odpowiedzi dla tego prowadzącego", :collection => poll.teacher_question.selectable_possible_answers, :prompt => "Wszyscy")
  .ctrl.button= submit("Pokaż")
    