= form_for(@question, :action => @action, :method => @method, :id => "question-form") do
  %fieldset
    .ctrl
      = text_field(:text, :label => "Treść pytania")
    .ctrl
      = select(:question_type, :label => "Typ pytania", :collection => Question::TYPES)
    .ctrl.buttons
      = submit("Zapisz pytanie")
