= form_for(@question, :action => @action, :method => @method) do
  %fieldset
    = text_field(:text, :label => "Treść pytania")
    = select(:question_type, :label => "Typ pytania", :collection => Question::TYPES)
  .ctrl
    = button("Zapisz pytanie")
