.ctrl
  - if question.open?
    = text_field :name => question.id, :label => question.text
  - if question.closed?
    = select(:name => question.id, :label => question.text, :collection => "1".."5")
