.ctrl
  - if question.open?
    = text_field :name => question.id, :label => question.text, :value => h(params[question.id.to_s])
    %span.validation.error
      = question.errors.on(:value)
  - if question.closed?
    = select(:name => question.id, :label => question.text, :collection => "1".."5", :selected => params[question.id])
