= form_for(@question, :action => resource(@poll, @question), :id => "edit-question-form") do
  = partial('questions/form', :poll => @poll)

- if @question.choice? || @question.teacher?
  = partial("possible_answers/form", :question => @question)
