= form :action => url(:controller => "answers", :action => "show"), :id => 'login-form' do
  %fieldset
    .ctrl
      = text_field :token, :label => 'Token'
    .ctrl.buttons
      = submit 'Wypełnij ankietę'

= partial 'layout/info'
