%meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
%meta{ :name => "description", :content => "Cyfrowy dorsz" }
%meta{ :name => "language", :content => "PL" }
%link{ :href => "/favicon.ico", :rel => "SHORTCUT ICON" }
%link{ :href => "/favicon.png", :rel => "icon", :type => "image/png" }

%title
  cyfrowy dorsz
= js_include_tag 'vendor/jquery', 'vendor/jquery-ui-1.8.2.custom.min', 'vendor/visualize/excanvas', 'vendor/visualize/visualize.jQuery', :bundle => 'ankieter-vendor.js'
= js_include_tag 'menu', 'application', 'extensions', :bundle => 'ankieter.js'
= css_include_tag 'master', :bundle => 'ankieter.css'
= css_include_tag 'vendor/jquery-ui-1.8.2.custom', 'vendor/visualize/visualize', 'vendor/visualize/visualize-light', :bundle => 'ankieter-vendor.css'
