%meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
%meta{ :name => "description", :content => "Cyfrowy dorsz" }
%meta{ :name => "language", :content => "PL" }
%link{ :href => "/favicon.ico", :rel => "SHORTCUT ICON" }
%link{ :href => "/favicon.png", :rel => "icon", :type => "image/png" }

%title
  cyfrowy dorsz
= js_include_tag 'jquery.js', 'menu.js', :bundle => 'ankieter.js'
= css_include_tag 'master.css', :bundle => 'ankieter.css'
