%ul#menu
  %li.active
    %a{ :href => "#" }
      Wlazł
    %ul.hidden
      %li
        %a{ :href => "#" }
          Miś
      %li
        %a{ :href => "#" }
          Na
      %li.last
        %a{ :href => "#" }
          Fotel
  %li
    %a{ :href => "#" }
      Kotek
    %ul
      %li
        %a{ :href => "#" }
          Kotek
      %li
        %a{ :href => "#" }
          Na
      %li.last
        %a{ :href => "#" }
          Płotek
  %li
    %a{ :href => "#" }
      Na
    %ul.hidden
      %li
        %a{ :href => "#" }
          Dziabąg
      %li
        %a{ :href => "#" }
          Na
      %li.last
        %a{ :href => "#" }
          Sofę
  %li
    %a{ :href => "#" }
      Płotek
    %ul.hidden
      %li
        %a{ :href => "#" }
          Kotek
      %li
        %a{ :href => "#" }
          Na
      %li.last
        %a{ :href => "#" }
          I Mruga