%ul#menu
  %li.active
    =link_to("Zarządzaj", resource(:polls))
    %ul.hidden
      %li
        =link_to("Lista ankiet", resource(:polls))
      %li.last
        =link_to("Dodaj ankietę", resource(:polls, :new))
  %li
    %a{ :href => "#" }
      Kotek
    %ul
      %li
        %a{ :href => "#" }
          Kotek
      %li
        %a{ :href => "#" }
          Na
      %li.last
        %a{ :href => "#" }
          Płotek
  %li
    %a{ :href => "#" }
      Na
    %ul.hidden
      %li
        %a{ :href => "#" }
          Dziabąg
      %li
        %a{ :href => "#" }
          Na
      %li.last
        %a{ :href => "#" }
          Sofę
  %li
    %a{ :href => "#" }
      Płotek
    %ul.hidden
      %li
        %a{ :href => "#" }
          Kotek
      %li
        %a{ :href => "#" }
          Na
      %li.last
        %a{ :href => "#" }
          I Mruga
