!!! Strict
%html{ "xml:lang" => "pl", :lang => "pl", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    = partial 'layout/head'
  %body
    #wrapper
      #header
        %a.logo{ :href => "#" }
          Ankieter
        .sublogo
          system do ankietowania
        .login
          = partial 'shared/login'
      #main
        = partial 'layout/menu'
        #content
          = catch_content :for_layout
      #footer
        \&copy; Cyfrowy Dorsz
